<div class="navbar navbar-container">
	<div class="navbar-brand">
		<a href="/">
			<img src="img/logo.png" alt="Starbucks" />
		</a>
	</div>

	<ul class="navbar-nav-left">
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/forum">Region</a>
		</li>
		<li>
			<a href="/forum">Ingredients</a>
		</li>
		<li>
			<a href="/forum">Meal Type</a>
		</li>
	</ul>

	<ul class="navbar-nav-right">
		<li><a href="/sign-in" class="btn" id="signInNav">Sign In</a></li>
		<li><a href="/sign-up" class="btn btn-dark" id="signUpNav">Sign Up</a></li>
	</ul>
</div>
