<div class="navbar navbar-container">
	<div class="navbar-brand">
		<a href="/">
			<img src="/img/logo.png" alt="Starbucks" />
		</a>
	</div>

	<ul class="navbar-nav-left">
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/#region-box">Region</a>
		</li>
		<li>
			<a href="/#ingredients-box">Ingredients</a>
		</li>
		<li>
			<a href="/#meal-type-box">Meal Type</a>
		</li>
	</ul>

	<ul class="navbar-nav-right">
		<% if (!locals.username) { %>
		<li><a href="/sign-in" class="btn" id="signInNav">Sign In</a></li>
		<li><a href="/sign-up" class="btn btn-dark" id="signUpNav">Sign Up</a></li>
		<% } else { %>
		<li class="btn"><%= locals.username %></li>
		<% } %>
	</ul>
</div>
