<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/add.css" />
	</head>

	<body>
		<nav><%- include('../partials/nav-bar') %></nav>
		<header><%- include('../partials/title-bar') %></header>

		<div class="form-wrapper">
			<form action="/add" , method="POST">
				<header>
					<h2>Add your recipe</h2>
				</header>

				<div>
					<label class="desc" for="title">Title</label>
					<div>
						<input
							name="title"
							type="text"
							class="field text fn"
							value=""
							size="8"
							tabindex="1"
							placeholder="A name to your dish"
						/>
					</div>
				</div>

				<div>
					<label class="desc" for="description"> Description </label>

					<div>
						<textarea
							name="description"
							spellcheck="true"
							rows="3"
							cols="50"
							tabindex="4"
							placeholder="An introduction to your dish"
						></textarea>
					</div>
				</div>

				<div>
					<label class="desc" for="region"> Region </label>
					<div>
						<select name="tags[region]" class="field select medium" tabindex="11">
							<option value="punjab">Punjab</option>
							<option value="gujrat">Gujrat</option>
							<option value="rajasthan">Rajasthan</option>
							<option value="andhra">Andhra</option>
							<option value="kerala">Kerala</option>
							<option value="goa">Goa</option>
							<option value="bengal">Bengal</option>
							<option value="mughal">Mughal</option>
							<option value="tamil nadu">Tamil Nadu</option>
						</select>
					</div>
				</div>

				<div>
					<label class="desc" for="mealType"> Meal Type </label>
					<div>
						<select name="tags[mealType]" class="field select medium" tabindex="11">
							<option value="breakfast">Breakfast</option>
							<option value="lunch">Lunch</option>
							<option value="dinner">Dinner</option>
							<option value="appetizer">Appetizer</option>
							<option value="snack">Snack</option>
							<option value="dessert">Dessert</option>
						</select>
					</div>
				</div>

				<div>
					<label class="desc" for="keyIngredient"> Key Ingredient </label>
					<div>
						<select
							name="tags[keyIngredient]"
							class="field select medium"
							tabindex="11"
						>
							<option value="chicken">Chicken</option>
							<option value="egg">Egg</option>
							<option value="fish">Fish</option>
							<option value="mutton">Mutton</option>
							<option value="paneer">Paneer</option>
							<option value="cheese">Cheese</option>
						</select>
					</div>
				</div>

				<div>
					<label class="desc" for="ingredients"> Ingredients </label>

					<div>
						<textarea
							name="ingredients"
							spellcheck="true"
							rows="10"
							cols="50"
							tabindex="4"
							placeholder="(Write each ingredient on a new line)"
						></textarea>
					</div>
				</div>

				<div>
					<label class="desc" for="tools"> Tools </label>

					<div>
						<textarea
							name="tools"
							spellcheck="true"
							rows="10"
							cols="50"
							tabindex="4"
							placeholder="(Write each tool on a new line)"
						></textarea>
					</div>
				</div>

				<div>
					<label class="desc" for="instructions"> Instructions </label>

					<div>
						<textarea
							name="instructions"
							spellcheck="true"
							rows="10"
							cols="50"
							tabindex="4"
							placeholder="(Write each instruction on a new line)"
						></textarea>
					</div>
				</div>

				<div>
					<div>
						<input name="saveForm" type="submit" value="Submit" />
					</div>
				</div>
			</form>
		</div>

		<div class="divider"></div>

		<footer class="footer">
			<div class="footer-container">
				<p>© 2022 Indian Kitchen. All rights reserved.</p>
			</div>
		</footer>
	</body>
</html>
