<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/add.css" />
</head>

<body>
	<nav><%- include('../partials/nav-bar') %></nav>
	<header><%- include('../partials/title-bar') %></header>

    <div class="form-wrapper">
        <form action="#">

            <header>
                <h2>Add your recipe</h2>
            </header>

            <div>
                <label class="desc" id="title1" for="Field1">Title</label>
                <div>
                    <input id="Field1" name="Field1" type="text" class="field text fn" value="" size="8" tabindex="1">
                </div>
            </div>

            <div>
                <label class="desc" id="title4" for="Field4">
                    Description
                </label>

                <div>
                    <textarea id="Field4" name="Field4" spellcheck="true" rows="10" cols="50" tabindex="4"></textarea>
                </div>
            </div>

            <div>
                <label class="desc" id="title106" for="Field106">
                    Region
                </label>
                <div>
                    <select id="Field106" name="Field106" class="field select medium" tabindex="11">
                        <option value="Punjab">Punjab</option>
                        <option value="Gujrat">Gujrat</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Andhra">Andhra</option>
                        <option value="Kerala">Kerala</option>
                        <option value="Goa">Goa</option>
                        <option value="Bengal">Bengal</option>
                        <option value="Mughal">Mughal</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                    </select>
                </div>
            </div>

            <div>
                <label class="desc" id="title106" for="Field106">
                    Meal Type
                </label>
                <div>
                    <select id="Field106" name="Field106" class="field select medium" tabindex="11">
                        <option value="First Choice">Breakfast</option>
                        <option value="Second Choice">Lunch</option>
                        <option value="Third Choice">Dinner</option>
                        <option value="Third Choice">Appetizer</option>
                        <option value="Third Choice">Snack</option>
                        <option value="Third Choice">Dessert</option>
                    </select>
                </div>
            </div>

            <div>
                <fieldset>
                    <legend id="title6" class="desc">
                        Key Ingredients
                    </legend>
                    <div>
                        <div>
                            <input id="Field6" name="Field6" type="checkbox" value="First Choice" tabindex="8">
                            <label class="choice" for="Field6">Chicken</label>
                        </div>
                        <div>
                            <input id="Field7" name="Field7" type="checkbox" value="Second Choice" tabindex="9">
                            <label class="choice" for="Field7">Egg</label>
                        </div>
                        <div>
                            <input id="Field8" name="Field8" type="checkbox" value="Third Choice" tabindex="10">
                            <label class="choice" for="Field8">Fish</label>
                            </span>
                        </div>
                        <div>
                            <input id="Field6" name="Field6" type="checkbox" value="First Choice" tabindex="8">
                            <label class="choice" for="Field6">Mutton</label>
                        </div>
                        <div>
                            <input id="Field7" name="Field7" type="checkbox" value="Second Choice" tabindex="9">
                            <label class="choice" for="Field7">Paneer</label>
                        </div>
                        <div>
                            <input id="Field8" name="Field8" type="checkbox" value="Third Choice" tabindex="10">
                            <label class="choice" for="Field8">Cheese</label>
                            </span>
                        </div>
                </fieldset>
            </div>

            <div>
                <label class="desc" id="title4" for="Field4">
                    Ingredients
                </label>

                <div>
                    <textarea id="Field4" name="Field4" spellcheck="true" rows="10" cols="50" tabindex="4"></textarea>
                </div>
            </div>

            <div>
                <label class="desc" id="title4" for="Field4">
                    Tools
                </label>

                <div>
                    <textarea id="Field4" name="Field4" spellcheck="true" rows="10" cols="50" tabindex="4"></textarea>
                </div>
            </div>

            <div>
                <label class="desc" id="title4" for="Field4">
                    Instructions
                </label>

                <div>
                    <textarea id="Field4" name="Field4" spellcheck="true" rows="10" cols="50" tabindex="4"></textarea>
                </div>
            </div>

            <div>
                <div>
                    <input id="saveForm" name="saveForm" type="submit" value="Submit">
                </div>
            </div>

        </form>
    </div>

    <div class="divider"></div>

    <footer class="footer">
        <div class="footer-container">
            <p>© 2022 Indian Kitchen. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>