<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>

	<body>
		<nav><%- include('../partials/nav-bar') %></nav>
		<header><%- include('../partials/title-bar') %></header>
		<!-- Box F -->
		<section class="box box-f grid-col-2">
			<div>
				<img src="img/pexels-marvin-ozz-2474661.jpg" alt="placeholder" />
				<div class="bg-extra py-lg">
					<div class="box-text">
						<h2 class="text-md">Browse Our Collection of Recipes</h2>
						<p class="text-sm">
							Enter the world of Indian cooking! Experience a wide variety of
							cultures, ingredients, and mouth-watering meals.
						</p>
						<a href="/forum" class="btn btn-dark-outline">Browse Recipes</a>
					</div>
				</div>
			</div>
			<div>
				<img src="img/pexels-andrea-piacquadio-3769999.jpg" alt="placeholder" />
				<div class="bg-primary py-lg">
					<div class="box-text">
						<h2 class="text-md">Add to Our Collection of Recipes</h2>
						<p class="text-sm">
							Use your own or choose a family classic, we're always eager for new and
							exciting recipes!
						</p>
						<a href="/add" class="btn btn-light-outline">Add Recipe</a>
					</div>
				</div>
			</div>
		</section>

		<!-- Box B -->
		<section id="region-box" class="box box-b bg-secondary grid-col-2">
			<img src="img/pexels-chan-walrus-941869.jpg" alt="placeholder" />
			<div class="box-text">
				<h2 class="text-xl">Flavors of India</h2>
				<p class="text-md">From kanyakumari to kashmir, experience all of India!</p>
				<a href="/forum?tag=punjab" class="btn btn-light-outline">Punjab</a>
				<a href="/forum?tag=gujrat" class="btn btn-light-outline">Gujrat</a>
				<a href="/forum?tag=rajasthan" class="btn btn-light-outline">Rajasthan</a>
				<a href="/forum?tag=andhra" class="btn btn-light-outline">Andhra</a>
				<a href="/forum?tag=kerala" class="btn btn-light-outline">Kerala</a>
				<a href="/forum?tag=goa" class="btn btn-light-outline">Goa</a>
				<a href="/forum?tag=bengal" class="btn btn-light-outline">Bengal</a>
				<a href="/forum?tag=mughal" class="btn btn-light-outline">Mughal</a>
				<a href="/forum?tag=tamil nadu" class="btn btn-light-outline">Tamil Nadu</a>
			</div>
		</section>

		<!-- Box C -->
		<section id="ingredients-box" class="box box-c bg-secondary grid-col-2 grid-reversed">
			<img src="img/pexels-gagan-cambow-3531700.jpg" alt="placeholder" />
			<div class="box-text">
				<h2 class="text-xl">Traditional Ingredients</h2>
				<p class="text-md">Dishes that fit all your cravings.</p>
				<a href="/forum?tag=chicken" class="btn btn-light-outline">Chicken</a>
				<a href="/forum?tag=egg" class="btn btn-light-outline">Egg</a>
				<a href="/forum?tag=fish" class="btn btn-light-outline">Fish</a>
				<a href="/forum?tag=mutton" class="btn btn-light-outline">Mutton</a>
				<a href="/forum?tag=paneer" class="btn btn-light-outline">Paneer</a>
				<a href="/forum?tag=cheese" class="btn btn-light-outline">Cheese</a>
			</div>
		</section>

		<!-- Box D -->
		<section id="meal-type-box" class="box box-d bg-secondary grid-col-2">
			<img src="img/pexels-sarthak-4331490.jpg" alt="placeholder" />
			<div class="box-text">
				<h2 class="text-xl">Meals of the day</h2>
				<p class="text-md">Indian cuisine for all your needs.</p>
				<a href="/forum?tag=breakfast" class="btn btn-light-outline">Breakfast</a>
				<a href="/forum?tag=lunch" class="btn btn-light-outline">Lunch</a>
				<a href="/forum?tag=dinner" class="btn btn-light-outline">Dinner</a>
				<a href="/forum?tag=appetizer" class="btn btn-light-outline">Appetizer</a>
				<a href="/forum?tag=snack" class="btn btn-light-outline">Snack</a>
				<a href="/forum?tag=dessert" class="btn btn-light-outline">Dessert</a>
			</div>
		</section>

		<div class="divider"></div>

		<footer class="footer">
			<div class="footer-container">
				<p>© 2022 Indian Kitchen. All rights reserved.</p>
			</div>
		</footer>
	</body>
</html>
