<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/comments.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
	</head>

	<body>
		<nav><%- include('../partials/nav-bar') %></nav>
		<header><%- include('../partials/title-bar') %></header>

		<main class="page">
			<div class="recipe-page">
				<section class="grid-col-2">
					<img src="img/NU66NMBU7VAG6IQRAVPNZ6THAI(1).png" alt="placeholder" />
					<div class="box-text">
						<h2 class="text-md">Chettinad Pepper Chicken (Koli Milagu Masala)</h2>
						<p class="text-sm">
							A signature dish of the South Indian city of Chennai. It’s flavored with
							fennel seeds, curry leaves, and urad dal, the skinned split black
							lentils that are a popular ingredient in southern India.
						</p>
						<a href="/post" class="btn btn-dark-outline">Tamil Nadu</a>
						<a href="/post" class="btn btn-dark-outline">Chicken</a>
						<a href="/post" class="btn btn-dark-outline">Lunch</a>
						<br />
						<a href="/post" class="btn btn-dark-outline"
							><i class="fas fa-thumbs-up"></i
						></a>
						<a href="/post" class="btn btn-dark-outline"
							><i class="fas fa-thumbs-down"></i
						></a>
						<a href="/post" class="btn btn-dark-outline"
							><i class="fas fa-share-alt"></i
						></a>
					</div>
				</section>
				<!-- content -->
				<section class="recipe-content">
					<article>
						<h4>Instructions</h4>
						<!-- single instruction -->
						<div class="single-instruction">
							<header>
								<p>step 1</p>
							</header>
							<p>
								Separate chicken into 8 pieces. Cut drumsticks, thighs, and wings in
								half; cut breasts crosswise into thirds—you will have 18 pieces of
								chicken.
							</p>
						</div>
						<!-- end of single instruction -->
						<!-- single instruction -->
						<div class="single-instruction">
							<header><p>step 2</p></header>
							<p>Heat oil in a 12″ nonstick skillet over medium-high.</p>
						</div>
						<div class="single-instruction">
							<header><p>step 3</p></header>
							<p>
								Cook coriander, cumin, and fennel seeds, dal, curry and bay leaves,
								cloves, and cinnamon until dal are golden, 2–3 minutes.
							</p>
						</div>
						<div class="single-instruction">
							<header><p>step 4</p></header>
							<p>
								Stir in cardamom, turmeric, garlic, onion, and ginger; cook until
								slightly caramelized, 6–8 minutes.
							</p>
						</div>
						<div class="single-instruction">
							<header><p>step 5</p></header>
							<p>Add tomatoes; cook until broken down, 4–5 minutes.</p>
						</div>
						<div class="single-instruction">
							<header><p>step 6</p></header>
							<p>Add chicken and 1⁄2 cup water; boil.</p>
						</div>
						<div class="single-instruction">
							<header><p>step 7</p></header>
							<p>
								Reduce heat to medium-low; cook, covered, until chicken is cooked
								through, about 25 minutes.
							</p>
						</div>
						<div class="single-instruction">
							<header><p>step 8</p></header>
							<p>
								Uncover and increase heat to medium-high. Stir in pepper; simmer
								until slightly thickened, 3–4 minutes.
							</p>
						</div>
						<div class="single-instruction">
							<header><p>step 9</p></header>
							<p>Garnish with cilantro; serve with rice if you like.</p>
						</div>
						<!-- end of single instruction -->
						<!-- single instruction -->
						<!-- end of single instruction -->
					</article>
					<article class="second-column">
						<div>
							<h4>Ingredients</h4>
							<ul class="recipe-content-list">
								<li>
									<p class="single-ingredient">
										2-lb. boneless, skinless chicken thighs
									</p>
								</li>
								<li><p class="single-ingredient">1⁄4 cup canola oil</p></li>
								<li><p class="single-ingredient">3 tbsp. coriander seeds</p></li>
								<li><p class="single-ingredient">1 1⁄2 tbsp. cumin seeds</p></li>
								<li><p class="single-ingredient">1 1⁄2 tsp. fennel seeds</p></li>
								<li>
									<p class="single-ingredient">
										1 1⁄2 tsp. urad dal (skinned split black lentils), rinsed,
										soaked 30 minutes, and drained
									</p>
								</li>
								<li>
									<p class="single-ingredient">10 fresh or frozen curry leaves</p>
								</li>
								<li>
									<p class="single-ingredient">3 Indian or regular bay leaves</p>
								</li>
								<li><p class="single-ingredient">3 whole cloves</p></li>
								<li><p class="single-ingredient">1 stick cinnamon, halved</p></li>
								<li><p class="single-ingredient">1 tsp. ground cardamom</p></li>
								<li><p class="single-ingredient">1⁄2 tsp. ground turmeric</p></li>
								<li>
									<p class="single-ingredient">
										5 cloves garlic, mashed into a paste
									</p>
								</li>
								<li>
									<p class="single-ingredient">1 large yellow onion, minced</p>
								</li>
								<li>
									<p class="single-ingredient">
										1 (2″) piece ginger, peeled and mashed into a paste
									</p>
								</li>
								<li><p class="single-ingredient">Kosher salt, to taste</p></li>
								<li><p class="single-ingredient">2 plum tomatoes, minced</p></li>
								<li>
									<p class="single-ingredient">
										1 1⁄2 tbsp. coarsely ground black pepper
									</p>
								</li>
								<li><p class="single-ingredient">1⁄4 cup chopped cilantro</p></li>
								<li>
									<p class="single-ingredient">
										Cooked white rice, for serving (optional)
									</p>
								</li>
							</ul>
						</div>
						<div>
							<h4>Tools</h4>
							<ul class="recipe-content-list">
								<li><p class="single-tool">Kitchen knife</p></li>
								<li><p class="single-tool">Stove</p></li>
								<li><p class="single-tool">12″ nonstick skillet</p></li>
								<li><p class="single-tool">Wooden stirring spoon</p></li>
								<li><p class="single-tool">Serving bowl</p></li>
							</ul>
						</div>
					</article>
				</section>
			</div>
		</main>

		<div class="divider"></div>

		<div class="comments-container">
			<ul id="comments-list" class="comments-list">
				<li>
					<div class="comment-main-level">
						<!-- Avatar -->
						<div class="comment-avatar">
							<img src="https://i.pravatar.cc/60?img=1" alt="" />
						</div>
						<!-- Contenedor del Comentario -->
						<div class="comment-box">
							<div class="comment-head">
								<h6 class="comment-name by-author">
									<a href="http://creaticode.com/blog">Username 1</a>
								</h6>
								<span>hace 20 minutos</span>
								<i class="fa fa-reply"></i>
								<i class="fa fa-heart"></i>
							</div>
							<div class="comment-content">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
								omnis animi et iure laudantium vitae, praesentium optio, sapiente
								distinctio illo?
							</div>
						</div>
					</div>
					<!-- Respuestas de los comentarios -->
					<ul class="comments-list reply-list">
						<li>
							<!-- Avatar -->
							<div class="comment-avatar">
								<img src="https://i.pravatar.cc/60?img=2" alt="" />
							</div>
							<!-- Contenedor del Comentario -->
							<div class="comment-box">
								<div class="comment-head">
									<h6 class="comment-name">
										<a href="http://creaticode.com/blog">Username 2</a>
									</h6>
									<span>hace 10 minutos</span>
									<i class="fa fa-reply"></i>
									<i class="fa fa-heart"></i>
								</div>
								<div class="comment-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
									omnis animi et iure laudantium vitae, praesentium optio,
									sapiente distinctio illo?
								</div>
							</div>
						</li>

						<li>
							<!-- Avatar -->
							<div class="comment-avatar">
								<img src="https://i.pravatar.cc/60?img=3" alt="" />
							</div>
							<!-- Contenedor del Comentario -->
							<div class="comment-box">
								<div class="comment-head">
									<h6 class="comment-name">
										<a href="http://creaticode.com/blog">Username 3</a>
									</h6>
									<span>hace 10 minutos</span>
									<i class="fa fa-reply"></i>
									<i class="fa fa-heart"></i>
								</div>
								<div class="comment-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
									omnis animi et iure laudantium vitae, praesentium optio,
									sapiente distinctio illo?
								</div>
							</div>
						</li>
					</ul>
				</li>

				<li>
					<div class="comment-main-level">
						<!-- Avatar -->
						<div class="comment-avatar">
							<img src="https://i.pravatar.cc/60?img=4" alt="" />
						</div>
						<!-- Contenedor del Comentario -->
						<div class="comment-box">
							<div class="comment-head">
								<h6 class="comment-name">
									<a href="http://creaticode.com/blog">Username 4</a>
								</h6>
								<span>hace 10 minutos</span>
								<i class="fa fa-reply"></i>
								<i class="fa fa-heart"></i>
							</div>
							<div class="comment-content">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
								omnis animi et iure laudantium vitae, praesentium optio, sapiente
								distinctio illo?
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<div class="divider"></div>

		<footer class="footer">
			<div class="footer-container">
				<p>© 2022 Indian Kitchen. All rights reserved.</p>
			</div>
		</footer>
	</body>
</html>
